<section class="p-5 bg-[#f6f6f6] h-[90vh]">
    <header class="mb-10">
        <h4 class="text-center font-semibold text-[28px] m-6">Delivary Recipt</h4>
    </header>
    <main class="w-full bg-white flex flex-col gap-3 rounded-xl shadow-lg p-5">
        <h4 class="text-center text-[22px] m-5">Customer: Bloom Vally</h4>
        <h4 class="text-center text-[22px] m-5">Balance Amount: </h4>

        <div class="flex flex-col gap-3">
            <div class="flex justify-around items-center">
                <label for="mode">Pymt :</label>
                <div class="bg-gray-500 border-2 rounded-md w-[200px] h-[40px]">
                    <select name="item_no" id="item_no" class="w-full px-2 outline-none h-full">
                        <option value="choose option" selected>Select a payment mode</option>
                        <option value="cash">Cash</option>
                        <option value="upi">Gpay/Phonepe</option>
                    </select>
                </div>
            </div>
            <div class="flex justify-around items-center">
                <label for="ref_no">REF :</label>
                <div class="bg-gray-500 border-2 h-[40px] w-[200px] flex flex-col gap-5 rounded-md">
                    <input type="number" class="h-full px-[15px] w-full outline-none text-[16px]" placeholder="Enter value" name="ref_no">
                </div>
            </div>
            <div class="flex justify-around items-center">
                <label for="amount">AMT :</label>
                <div class="bg-gray-500 border-2 h-[40px] w-[200px] flex flex-col gap-5 rounded-md">
                    <input type="number" class="h-full px-[15px] w-full outline-none text-[16px]" placeholder="Enter value" name="amount">
                </div>
            </div>
            <div class="bg-gray-500 border-2 h-[40px] w-full flex flex-col gap-5 rounded-md">
                <input type="text" class="h-full px-[15px] w-full outline-none text-[16px]" placeholder="Enter value" name="desc">
            </div>
        </div>
        <button class="bg-[var(--primary-color)] w-[30%] ml-auto rounded-md text-white px-4 py-2">Save</button>
    </main>
</section>