input[type="number"]:disabled {
    background-color: #efefef;
}

.signature {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;

    #canvas {
        margin-bottom: 20px;
        border: 2px dashed #ddd;
    }
}