<section class="w-full px-5 py-5">
    <header class="mb-10">
        <h4 class="text-center font-semibold text-[28px] m-10">Receipt Portal</h4>
        <label for="search">Search:</label>
        <div class="bg-gray-500 border-2 h-[50px] flex flex-col gap-5 rounded-md">
            <input
                type="text"
                class="h-[50px] px-[15px] outline-none text-[20px]"
                placeholder="Enter to search"
                name="Search"
                [(ngModel)]="filterValue"
            >
        </div>
    </header>
    <main class="w-full overflow-x-auto max-h-[30rem]">
        <ng-container *ngIf="isDataLoading; else templateTable">
            <app-loader></app-loader>
        </ng-container>
        <ng-template #templateTable>
            <table class="w-full bg-white">
                <thead class="border border-b-2">
                    <tr>
                        <td class="p-2 text-sm text-left text-gray-500 font-regular">Customer Code</td>
                        <td class="p-2 text-sm text-left text-gray-500 font-regular">Customer Name</td>
                        <td class="p-2 text-sm text-left text-gray-500 font-regular">Route</td>
                    </tr>
                </thead>
                <tbody class="border border-b-2">
                    <tr *ngFor="let col of (data | filterdata: filterValue | async)">
                        <td
                            class="text-[14px] text-black p-2 text-left"
                            routerLink="/delivery/bill/{{ col.Vid }}" routerLinkActive="true"
                        >
                            {{ col.Vcode }}
                        </td>
                        <td
                            class="text-[14px] text-black p-2 text-left"
                            routerLink="/delivery/bill/{{ col.Vid }}" routerLinkActive="true"
                        >
                            {{ col.Vname }}
                        </td>
                        <td
                            class="text-[14px] text-black p-2 text-left"
                            routerLink="/delivery/bill/{{ col.Vid }}" routerLinkActive="true"
                        >
                            {{ col.RouteName }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </main>
</section>
